{% extends "base.html" %}
{% load static %}
{% block title %}
    Пользователи
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row"><h1>Пользователи:</h1></div>
        <div class="row row-cols-2 row-cols-md-4 ">
            {% for user in users %}
                <!-- Card -->
                <div class="col mb-2">
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <a href="{% url 'accounts:user_detail' user.username %}">
                                <img src="
                                            {% if user.profile.photo %}{{ user.profile.photo.url }}
                                            {% else %}{% static "img/no_avatar.png" %}{% endif %}"
                                     alt="User Photo"
                                     class="card-img-top z-depth-1 rounded"
                                     style="object-fit: cover;"
                                     width="400px"
                                >
                                <div class="mask flex-center waves-effect waves-light rgba-blue-strong">
                                    <p class="black-text">Перейти</p>
                                </div>
                            </a>
                        </div>


                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h4 class="card-title"><a
                                    href="{{ user.profile.get_absolute_url }}">{{ user.username }}</a></h4>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            {% empty %}
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}