{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	
	<div class="limiter">
		<div class="container-login100 " style="background-image: url('../../../static/images/bg-01.jpg');">
			<div class="wrap-login100 ">
				<form class="login100-form validate-form" method="POST">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Registration
					</span>

                {{ user_form|crispy }}
                {% csrf_token %}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
						Sign up
						</button>
					</div>

				
				</form>
			</div>
		</div>
	</div>
	


{% endblock %}